{% extends "base.html" %}

{% block content %}
    <h2>Мои заказы</h2>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>
                    Заказ №{{ order.id }} от {{ order.created_at }}<br>
                    Имя: {{ order.name }}<br>
                    Адрес: {{ order.address }}<br>
                    Телефон: {{ order.phone }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет заказов.</p>
    {% endif %}
{% endblock %}
