{% extends "base.html" %}

{% block link %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "webapp:product_add" %}">Создание продукта</a>
    </li>
{% endblock %}

{% block content %}
    <h1>Продукты</h1>
    <br>
    {% include "partial/search_form.html" %}
    <div class="row">
        {% for product in products %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.price }} рублей</p>
                        <p class="card-text">Остаток: {{ product.amount }}</p>

                        <div class="py-2">
                            <a href="{{ product.get_absolute_url }}" class="btn btn-dark"><i
                                    class="bi bi-eye-fill"></i></a>
                            <a href="{% url "webapp:product_update" product.pk %}"
                               class="btn btn-dark">Обновить</a>
                            <a href="{% url "webapp:product_delete" product.pk %}" class="btn btn-dark">Удалить</a>
                            {% include "partial/cart_add_form.html" %}
                        </div>

                    </div>
                </div>

            </div>
        {% empty %}
            <h2>Такого товара нет</h2>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}